// 自定义icon示例

@font-face {
  font-family: 'iconfont';  /* Project id 2726200 */
  src: url('//at.alicdn.com/t/font_2726200_mjwo7d7hytm.woff2?t=1637136799560') format('woff2'),
  url('//at.alicdn.com/t/font_2726200_mjwo7d7hytm.woff?t=1637136799560') format('woff'),
  url('//at.alicdn.com/t/font_2726200_mjwo7d7hytm.ttf?t=1637136799560') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.antd-bold:before {
  content: "\e87a";
}